body{
    background-color: lemonchiffon;
}

div{
    border: solid 1px red;
    margin: 0px;
    padding: 3px;
}

#paragraf1{
        background-color: aqua;
}

#paragraf2{
        background-color: cadetblue;
}

#paragraf3{
        background-color: yellowgreen;
}

#paragraf4{
        background-color: khaki;
}