div{
    border: solid 1px red;
}

#paragraf1{
        background-color: aqua;
}

#paragraf2{
        background-color: cadetblue;
}

#paragraf3{
        background-color: yellowgreen;
}

#paragraf4{
        background-color: khaki;
}